/ {
    combos {
        compatible = "zmk,combos";
        combo_LT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <2 15>;
            bindings = <&ru_lt>;
            layers = <DEF>;
        };
        combo_ENG_LT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <2 15>;
            bindings = <&kp LS(COMMA)>;
            layers = <LWR>;
        };
        combo_GT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <3 16>;
            bindings = <&ru_gt>;
            layers = <DEF>;
        };
        combo_ENG_GT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <3 16>;
            bindings = <&kp LS(DOT)>;
            layers = <LWR>;
        };
        combo_LBKT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <5 18>;
            bindings = <&ru_lbkt>;
            layers = <DEF>;
        };
        combo_ENG_LBKT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <5 18>;
            bindings = <&eng_lbkt>;
            layers = <LWR>;
        };
        combo_RBKT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <6 19>;
            bindings = <&ru_rbkt>;
            layers = <DEF>;
        };
        combo_ENG_RBKT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <6 19>;
            bindings = <&eng_rbkt>;
            layers = <LWR>;
        };
        combo_AMPS {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <4 17>;
            bindings = <&ru_amps>;
            layers = <DEF>;
        };
        combo_ENG_AMPS {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <4 17>;
            bindings = <&eng_amps>;
            layers = <LWR>;
        };
        combo_AT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <17 29>;
            bindings = <&ru_at>;
            layers = <DEF>;
        };
        combo_ENG_AT {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <17 29>;
            bindings = <&eng_at>;
            layers = <LWR>;
        };
        combo_NUMBER {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <18 30>;
            bindings = <&ru_number>;
            layers = <DEF LWR>;
        };
        combo_GRAVE {
            timeout-ms = <MY_COMBO_TIME>;
            key-positions = <16 28>;
            bindings = <&ru_grave>;
            layers = <DEF LWR>;
        };
    };
};
