/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _RU 0

#define MY_COMBO_TIME 100

#include "letters.keymap"

/ {
        keymap {
                compatible = "zmk,keymap";

                ru_layer {
                        bindings = <
        &none &none &none &none &none &none &none &none         &none  &none &none &none &none &none
              &none &ru_r &none &none &none &none &none         &none  &none &none &none &none
              &none &none &none &none &none &none &none         &none  &none &none &none &none
                                      &none &none &none         &none  &none &none
                        >;
                };
        };
};
