/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define CTL 4

#define MY_COMBO_TIME 100

#include "macro_symbols.keymap"
#include "beh_symbols.keymap"
#include "combo_symbols.keymap"
#include "beh_ctl.keymap"
#include "combo_ctl.keymap"
#include "macro_lang.keymap"
#include "combos_lang.keymap"
#include "letters.keymap"
#include "words.keymap"


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |         |  ; :          |   7      |   8   |    9    |   0     |               |     |     |     |     |     |      |     |
//        | SPC     |  .,           |  4 $     |   5   |   6 ^   |   +=    |               |     |     |     |     |     |      |
//        | LCTL    |  /\           |   1      |   2   |   3 #   |   -_    |               |     |     |     |     |     |      |
//                                                     |  RSE    |LSHFT    | ADJ   | |     |     |     |
                        bindings = <
   &kp ESC &none     &ru_semi_colon  &kp N7     &kp N8   &kp N9    &kp N0                    &none &none &none &none &none &none  &none
           &kp SPACE &ru_all         &ru_save   &kp N5   &ru_find  &kp EQUAL                 &none &none &none &none &none &none
           &mo CTL   &ru_undo        &ctl_cut   &ru_copy &ru_paste &kp MINUS                 &none &none &none &none &none &none
                                                         &mo RSE   &kp LSHFT &mo ADJ   &none &none &none
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |         |  ; :          |  7 ?     |   8    |    9    |   0     |               |     |     |     |     |     |      |     |
//        | SPC     |  .,           |   4      |   5    |    6    |   =+    |               |     |     |     |     |     |      |
//        | LCTL    |  /\           |   1      |  2 "   |    3    |   -_    |               |     |     |     |     |     |      |
//                                                      |  RSE    |LSHFT    | ADJ   | |     |     |     |
                        bindings = <
   &kp ESC &none      &kp SEMI        &eng_qmark &kp N8    &kp N9       &kp N0                    &none &none &none &none &none &none  &none
           &kp SPACE  &eng_all        &eng_save  &kp N5    &eng_find    &kp EQUAL                 &none &none &none &none &none &none
           &mo CTL    &eng_undo       &ctl_cut   &eng_copy &eng_paste   &kp MINUS                 &none &none &none &none &none &none
                                                           &mo RSE      &kp LSHFT &mo ADJ   &none &none &none
                         >;
                };

                raise_layer {
                        bindings = <
   &none  &st_struclist &st_fillclear &st_finddata &st_loopeach &st_endelse  &st_inssel                  &none  &none &none &none &none  &none &none
          &st_arraymap  &st_paramprop &st_linestr  &st_forwhile &st_ifthen   &st_qweryexec               &none  &none &none &none &none  &none
          &st_coltree   &st_newundef  &st_valueval &st_getset   &st_adddel   &st_fetchnext               &none &none &none &none &none  &none
                                                                &trans       &trans       &trans   &none &none  &none
                        >;
                };
                
                adjust_layer {
                        bindings = <
   &kp LC(MINUS) &kp F12          &ctl_prnbrk  &kp F3       &kp F4       &kp F5       &kp ENTER                   &none &none &none &none &none &none  &none
                 &kp LALT         &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &kp TAB                     &none &none &none &none &none &none
                 &kp LCTRL        &kp LC(HOME) &kp LC(LBKT) &kp LC(RBKT) &kp LC(END)  &kp DEL                     &none &none &none &none &none &none
                                                                         &kp BSPC     &trans      &none     &none &none &none
                        >;
                };
                control_layer {
                        bindings = <
   &none &kp none          &none  &none       &none       &none       &none                   &none &none &none &none &none &none  &none
                 &none         &none     &none    &none    &none      &none                     &none &none &none &none &none &none
                 &none        &macro_UNDO &macro_CUT &macro_COPY &macro_PASTE  &none                     &none &none &none &none &none &none
                                                                         &none     &none      &none     &none &none &none
                        >;
                };
        };
};
