/ {
    macros {
        macro_TMZ: macro_TMZ {
            label = "macro_TMZ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 1>
                , <&macro_tap &kp N &kp M>
                ;
       };
        macro_IF: macro_IF {
            label = "macro_IF";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(T) &kp C &kp K &kp B>
                ;
        };
        macro_THEN: macro_THEN {
            label = "macro_THEN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(N) &kp J &kp U &kp L &kp F>
                ;
        };
        macro_ELSE: macro_ELSE {
            label = "macro_ELSE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(B) &kp Y &kp F &kp X &kp T>
                ;
        };
        macro_END: macro_END {
            label = "macro_END";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(R) &kp J &kp Y &kp T &kp W>
                ;
        };
        macro_FOR: macro_FOR {
            label = "macro_FOR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(L) &kp K &kp Z>
                ;
        };
        macro_WHILE: macro_WHILE {
            label = "macro_WHILE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(G) &kp J &kp R &kp F>
                ;
        };
        macro_LOOP: macro_LOOP {
            label = "macro_LOOP";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(W) &kp B &kp R &kp K>
                ;
        };
        macro_EACH: macro_EACH {
            label = "macro_EACH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(R) &kp F &kp SEMI &kp L &kp J &kp U &kp J>
                ;
        };
        macro_PROC: macro_PROC {
            label = "macro_PROC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(G) &kp H &kp J &kp W &kp T &kp L &kp E &kp H>
                ;
        };
        macro_FUNC: macro_FUNC {
            label = "macro_FUNC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(A) &kp E &kp Y &kp R &kp W &kp B>
                ;
        };
        macro_ADD: macro_ADD {
            label = "macro_ADD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(L) &kp J &kp COMMA &kp F &kp D &kp B &kp N &kp M>
                ;
        };
        macro_DEL: macro_DEL {
            label = "macro_DEL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(E) &kp L &kp F &kp K &kp B &kp N &kp M>
                ;
        };
        macro_GET: macro_GET {
            label = "macro_GET";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(G) &kp J &kp K &kp E &kp X &kp B &kp N &kp M>
                ;
        };
        macro_SET: macro_SET {
            label = "macro_SET";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 0>
                , <&macro_tap &kp LS(E) &kp C &kp N &kp F &kp Y &kp J &kp D &kp B &kp N &kp M>
                ;
        };
   };
};
